* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    background-color: black; 
    width: 90%;
    height: 100vh;
    color: gold;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    padding: 0 0 0 3rem;
}

button {
    width: 20%;
    margin: 0 0 3rem 0;
}
